version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: angelshop-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo-data:/data/db
  mongo-setup:
    image: mongo:6.0
    depends_on:
      - mongo
    entrypoint: ["bash", "-c", "sleep 2 && mongosh --host mongo:27017 --eval 'try{rs.status()}catch(e){rs.initiate({_id:\"rs0\",members:[{_id:0,host:\"mongo:27017\"}]})}'"]
volumes:
  mongo-data:
